<h2>Selected Journey</h2>
<div>
  <p>Posted by: {{creatorId.username}}</p>
  <img src="{{creatorId.photoPath}}">
</div>
<h3>{{picName}}</h3>
<img src="{{picPath}}">
<p>Description: {{identifier}}</p>
<p>Nature: {{kindOfJourney}}</p>
<div>
{{#each this.comments}}
  <img src="{{this.imagePath}}">
  <p>{{this.content}}</p>
   <form action="/comment/delete-journey/{{this._id}}/{{../_id}}" method="POST">
    <button type="submit">d/elete</button>
  </form>
{{/each}}
</div>

<form action="/comment/journey/add-comment/{{_id}}" method="POST" enctype="multipart/form-data">
    <label for="content">Your Comment:</label>
    <textarea name="content" placeholder="Write Comment here"></textarea>
    <label for="photo">Upload Image</label>
    <input type="file" name="photo">
    <button>Add Comment</button>
  </form>

  <p>beginning point: {{markBeg.lat}}</p>

  <script>

    
    
  </script>