<h2>Journey</h2>
<h3>{{picName}}</h3>
<img src="{{picPath}}">
<p>Description: {{identifier}}</p>
<p>Nature: {{kindOfJourney}}</p>
<div>
{{#each this.comments}}
  <img src="{{this.imagePath}}">
  <p>{{this.content}}</p>
{{/each}}
</div>
<form action="/comment/journey/add-comment/{{_id}}" method="POST" enctype="multipart/form-data">
    <label for="content">Your Comment:</label>
    <textarea name="content" placeholder="Write Comment here"></textarea>
    <label for="photo">Upload Image</label>
    <input type="file" name="photo">
    <button>Add Comment</button>
  </form>

  