<div class="jour-rep-box">
  <h2>Your selected Journey</h2>
  <p>Posted by: {{creatorId.username}}</p>
  <img src="{{creatorId.photoPath}}" class="user-pic">
  <p>Description: {{identifier}}</p>
  <p>Type of Journey: {{kindOfJourney}}</p>
  <div>
    <h5>Comments</h5>
    {{#each this.comments}}
    <img src="{{this.imagePath}}" class="picture">
    <p>{{this.content}}</p>
    <form action="/comment/delete-journey/{{this._id}}/{{../_id}}" method="POST">
      <button class="button-menu" type="submit">delete</button>
    </form>
    {{/each}}
  </div>
  <h6>Add new comment:</h6>
  <form action="/comment/journey/add-comment/{{_id}}" method="POST" enctype="multipart/form-data">
    <div class="form-group">
      <label for="content"></label>
      <textarea class="form-control" rows="2" name="content" placeholder="Write your Comment here:"></textarea>
    </div>
    <div class="form-group form-inline">
      <label for="photo">Upload Image</label>
      <input class="form-control-file mb-2" type="file" name="photo">
      <button class="button-menu mb-2">Add Comment</button>
    </div>
  </form>
</div>


<script>
  window.markBeg = {{ markBeg }}
  window.markEnd = {{ markEnd }};
</script>
<script src="/javascripts/paintRoute.js"></script>