<h2>Selected Report</h2>
<div>
  <p>Posted by: {{creatorId.username}}</p>
  <img src="{{creatorId.photoPath}}">
</div>
<p>Name: {{name}}</p>
<p>Description: {{content}}</p>
<img src="{{picPath}}">
<p>Nature: {{nature}}</p>
<p>Severity: {{severity}}</p>
<p>State: {{state}}</p>
<p>likes: {{likes}}</p>
<p>dislikes: {{dislikes}}</p>
<div>
  {{#each this.comments}}
  <img src="{{this.imagePath}}">
  <p>{{this.content}}</p>
  <form action="/comment/delete-report/{{this._id}}/{{../_id}}" method="POST">
    <button type="submit">delete</button>
  </form>
  {{/each}}
</div>
<form action="/comment/report/add-comment/{{_id}}" method="POST" enctype="multipart/form-data">
  <label for="content">Your Comment:</label>
  <textarea name="content" placeholder="Write Comment here"></textarea>
  <label for="photo">Upload Image</label>
  <input type="file" name="photo">
  <button>Add Comment</button>
</form>