<h2>Report</h2>
<h3>{{picName}}</h3>
<img src="{{picPath}}">
<p>Description: {{content}}</p>
<p>Nature: {{nature}}</p>
<p>Severity: {{severity}}</p>
<p>State: {{state}}</p>
<p>likes: {{likes}}</p>
<p>dislikes: {{dislikes}}</p>